@tailwind base;
@tailwind components;
@tailwind utilities;

.info p {
    padding: 1rem;
    background-color: #3e3f4b;
    margin: .8rem .5rem;
    border-radius: .357rem;
    cursor: pointer;
    max-width: 300px;
}
.direct p:hover {
    background-color: #202123;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". .";
}
